@property --secondary-color {   /* ??? can i do this?*/
  syntax: "<color>";
  inherits: false;
  initial-value: #666667;   /*??? why is this red?*/
}

body {  /* ??? is this bad form at all to just make a body?? */
  font-family: "Atkinson Hyperlegible", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0px 0px 0px;
}

img { /* ??? is this bad form at all to just make img?? Should I do an ID here instead? */
  margin-top: auto;
  margin-bottom: auto;
}

strong {
  font-weight: 700;
  color: #2d68c4;
  /* background-color: rgb(242, 169, 0, 0.3); */
}

p {
  margin: 5px 0px 5px 0px;
}

/* li {
  padding: 5px 0px 5px 0px;
} */

ul {
  margin: 15px 0px 10px 0px;
}

.funds-raised {
  color: red;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  padding: 0px 2px 0px 2px;
  border-radius: 3px;
}

#header-image {
  border-radius: 30px;
}

#flex-box-image {
  margin: 20px auto 20px auto;
  display: block;
  width: 250px;
  height: auto;
}

/* #flex-box-takeda-image {
  margin: 20px auto 0px auto;
  display: block;
  width: 302px;
  height: auto;
} */

.icon-image {
  margin: auto;
  display: inline-block;
  padding-top: 0px;
}

.title {
  font-weight: 700;
  font-size: 40px; 
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Nunito";
}

.header-text {
  font-variant: small-caps;
  font-weight: bold;
  color: #000;
  font-family: "Nunito";
  font-size: 25px; 
  margin-top: 10px;
  margin-bottom: 0px;
  /* display: inline-block; */
}

.subheader {
  /* color: var(--secondary-color); */
  font-style: normal;
  font-weight: 700;
  font-family: "Nunito";
  margin: 20px 0px 5px 0px;
  /* font-variant: small-caps; */
}

.subtext {
  color: var(--secondary-color);
  font-size: larger;
  letter-spacing: 0px;
  line-height: 1.5;
  margin-bottom: 0px;
  font-weight: 100;
}

.flex-main-text {
  color: #4c4e4e;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 1.5;
  margin-bottom: 0px;
  font-weight: 400;
}

#header-flex-container {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.intro-flex-div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.image-flex-div {
  margin-left: auto; /* center image */
  margin-right: auto; /* center image */
  margin-top: auto; /* center image */
  margin-bottom: auto; /* center image */
}

.middle-section {
  /* background-color: var(--secondary-color); */
  background-color: lightgray;
  /* background-color: black; */
  width: 100%;    /* ??? Q: HOW GET RID OF LIL SPACE ON LEFT??*/
  color: #000;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin-top: 20px;
  margin-bottom: 0px; */
}

.mid-section-txt {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#middle-flex-container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#about-flex-container {
  display: flex;
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
}

.about-flex-div {
  margin: 0px 0px 0px 5px; /* margin: top right bottom left; */
  /* border: 1px solid lightgray;
  border-radius: 30px; */
  padding: 0px 50px 0px 0px; /* padding: top right bottom left; */
  min-height: 370px;
}

#about-flex-div-left {
  width: 50%;
}

#about-flex-div-right {
  width: 50%;
}

.volunteering-img {
  padding: 10px 2px 0px 2px; /* padding: top right bottom left; */
  height: 230px;
  width: auto;
  /* border-radius: 3px; */
}

#volunteering-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.work-flex-div {
  width: 50%;
  margin: auto 5px auto 5px; /* margin: top right bottom left; */
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 20px 30px 0px 30px; /* padding: top right bottom left; */
  min-height: 370px;
}

.other-sections {
  margin: 0px auto 100px auto;
  padding: 30px 0px 0px 0px;
  width: 75%;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 75%;
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.blue-background-color {
  background-color: #f2f6ff;
}

.green-background-color {
  background-color: #f4f9f4;
}

.yellow-background-color {
  /* background-color: #fffbeb; */
  background-color: rgba(255, 246, 226, 0.902);
}

.light-text-color {
  color: #fff;
}

.secondary-color {
  color: var(--secondary-color);
}

.rounded-div {
  margin: auto 5px auto 5px; /* margin: top right bottom left; */
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 20px 30px 20px 30px; /* padding: top right bottom left; */
/* height: 400px; */
}

table {
  border: 1px solid;
  border-radius: 3px;
}

th {
  border: 1px solid;
}

td {
  border: 1px solid;
  padding: 5px 5px 5px 5px;
  font-size: 13px;
}

.inner-list {
  list-style-type: square;;
}

.ucla-blue-color {
  color: #2d68c4;
  /* -webkit-text-stroke: 0.5px #f2a900; */
}

.ucla-gold-color {
  color: #f2a900;
}

.ucla-colors {
  color: #2d68c4;
  background-color: rgb(242, 169, 0, 0.3);
}

.bold {
  font-weight: 700;
}

.top-padding {
  padding: 15px 0px 0px 0px;
}

.small-light-font {
  font-size: 14px;
  color: var(--secondary-color);
}

/* .ucla-colors-swapped {
  background-color: rgb(45, 104, 196, 0.6);
  color: rgb(242, 169, 0);
} */

/* !!!QUESTIONS
- when do we use IDs vs. classes? 
*/